trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  serviceConnection: ServiceConnectionARM
  resourceGroup: finalStudents

  backendAppQa: students-back-qa-cxa0evadgvggcehr
  backendAppProd: students-back-prod-f4eucbcdbve3bwaz
  frontendAppQa: students-front-qa-ffb5fxf5chepfwgz
  frontendAppProd: students-front-prod-gmeaaxbsgrbsbacv

  backendQaUrl: https://students-back-qa-cxa0evadgvggcehr.brazilsouth-01.azurewebsites.net/api/v1/students
  backendProdUrl: https://students-back-prod-f4eucbcdbve3bwaz.brazilsouth-01.azurewebsites.net/api/v1/students

  javaVersion: '17'
  nodeVersion: '20.x'

stages:

# ---------- Build + Tests + Cobertura ----------
- stage: BuildAndTest
  jobs:
    - job: Backend
      steps:
        - task: Maven@4
          displayName: Test + cobertura backend
          inputs:
            mavenPomFile: springboot-backend/pom.xml
            goals: clean test
            publishJUnitResults: true
            testResultsFiles: '**/target/surefire-reports/*.xml'
            jdkVersionOption: '1.17'
        - task: PublishCodeCoverageResults@2
          displayName: Cobertura backend (JaCoCo)
          inputs:
            codeCoverageTool: JaCoCo
            summaryFileLocation: 'springboot-backend/target/site/jacoco/jacoco.xml'
            reportDirectory: 'springboot-backend/target/site/jacoco'
            failIfCoverageEmpty: false
        - task: PublishBuildArtifacts@1
          displayName: Publicar JAR backend
          inputs:
            PathtoPublish: 'springboot-backend/target/springboot-backend-0.0.1-SNAPSHOT.jar'
            ArtifactName: backend-jar

    - job: Frontend
      steps:
        - task: NodeTool@0
          inputs: { versionSpec: $(nodeVersion) }
        - script: |
            cd react-frontend
            npm ci
            npm run test:coverage -- --coverageReporters=text-summary --coverageReporters=cobertura
          displayName: Test + cobertura frontend
        - task: PublishCodeCoverageResults@2
          displayName: Cobertura frontend (Jest)
          inputs:
            codeCoverageTool: Cobertura
            summaryFileLocation: 'react-frontend/coverage/cobertura-coverage.xml'
            reportDirectory: 'react-frontend/coverage'
            failIfCoverageEmpty: false
        - script: |
            cd react-frontend
            REACT_APP_API_BASE=$(backendQaUrl) npm run build
          displayName: Build frontend (QA)
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: 'react-frontend/build'
            includeRootFolder: false
            archiveFile: '$(Build.ArtifactStagingDirectory)/frontend-qa.zip'
        - task: PublishBuildArtifacts@1
          displayName: Publicar build frontend QA
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/frontend-qa.zip'
            ArtifactName: frontend-qa-build

# ---------- Deploy QA + Cypress ----------
- stage: DeployAndTestQA
  dependsOn: BuildAndTest
  jobs:
    - job: DeployBackendQA
      steps:
        - task: AzureWebApp@1
          displayName: Deploy backend QA
          inputs:
            azureSubscription: $(serviceConnection)
            appName: $(backendAppQa)
            package: '$(Pipeline.Workspace)/backend-jar/springboot-backend-0.0.1-SNAPSHOT.jar'
            appSettings: |
              -PORT 8080
    - job: DeployFrontendQA
      steps:
        - task: AzureWebApp@1
          displayName: Deploy frontend QA
          inputs:
            azureSubscription: $(serviceConnection)
            appName: $(frontendAppQa)
            package: '$(Pipeline.Workspace)/frontend-qa-build/frontend-qa.zip'
    - job: CypressQA
      dependsOn:
        - DeployBackendQA
        - DeployFrontendQA
      steps:
        - task: NodeTool@0
          inputs: { versionSpec: $(nodeVersion) }
        - script: |
            cd react-frontend
            npm ci
            npx cypress run --config baseUrl=https://$(frontendAppQa).azurewebsites.net
          displayName: Ejecutar Cypress vs QA
        - task: PublishTestResults@2
          condition: always()
          inputs:
            testResultsFiles: '**/cypress/results/*.xml'
            searchFolder: 'react-frontend'
            testRunTitle: 'Cypress QA'

# ---------- Deploy PROD ----------
- stage: DeployProd
  dependsOn: DeployAndTestQA
  condition: succeeded()
  jobs:
    - job: DeployBackendProd
      steps:
        - task: AzureWebApp@1
          displayName: Deploy backend PROD
          inputs:
            azureSubscription: $(serviceConnection)
            appName: $(backendAppProd)
            package: '$(Pipeline.Workspace)/backend-jar/springboot-backend-0.0.1-SNAPSHOT.jar'
            appSettings: |
              -PORT 8080
    - job: DeployFrontendProd
      steps:
        - task: NodeTool@0
          inputs: { versionSpec: $(nodeVersion) }
        - script: |
            cd react-frontend
            npm ci
            REACT_APP_API_BASE=$(backendProdUrl) npm run build
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: 'react-frontend/build'
            includeRootFolder: false
            archiveFile: '$(Build.ArtifactStagingDirectory)/frontend-prod.zip'
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/frontend-prod.zip'
            ArtifactName: frontend-prod-build
        - task: AzureWebApp@1
          displayName: Deploy frontend PROD
          inputs:
            azureSubscription: $(serviceConnection)
            appName: $(frontendAppProd)
            package: '$(Pipeline.Workspace)/frontend-prod-build/frontend-prod.zip'
